# Editors
.vs/*
.atom/*
.idea/*
.vscode/*
!*tasks.json
!*launch.json

# Temp files
*.pyc
*.sec
*venv*
*.class
*.~lock
build/*
Build/*
bin-int/*
*.egg-info
*secret.ini
*__pycache__*

# Custom
test/test_container/db
*.aiocheck_persist.json
*aiocheck_log.csv
aiocheck.spec
command_line.spec
